# ShadowTraffic license — get a free trial at https://shadowtraffic.io
LICENSE_ID=your-license-id-here
LICENSE_EMAIL=your-email@example.com
LICENSE_ORGANIZATION=Your Organization
LICENSE_EDITION=ShadowTraffic Free Trial
LICENSE_EXPIRATION=YYYY-MM-DD
LICENSE_SIGNATURE=your-signature-here
